################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.svn
/.svn
bin
obj
_Resharper*
*.suo
*.user
/TestResults
*.*sdf
Debug
ipch
Release/
